<!DOCTYPE html>

<html>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Healthy Recipes</title>
	</head>
	
	<body>

        <div class="container">
            <header>

                <a href="{{url_for('homePage')}}"><img src="" alt="Healty Recipes Logo"></a>

                <nav>
                    <ul>
                    {%for i in courses%}
                        <li><a href="{{url_for('courseRecipes', course_id=i.id)}}">{{i.name}}</a></li>
                    {% endfor %}
                    </ul>
                </nav>

            </header>

            <main>

                <h1>{{course.name}}</h1>

                {% for i in recipes %}
                
                <section>
                    <a href="{{url_for('recipe', recipe_id=i.id)}}"><img src="{{i.image}}" alt="{{i.name}}"></a>
                    <p>{{i.name}}</p>
                </section>
                
                {% endfor %}

            </main>
        </div> 

	</body>

</html>