<!DOCTYPE html>

<html>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Healthy Recipes - {{course.name}}</title>
	</head>
	
	<body>

        <div class="container">

            <!-- Start Header -->
            <header>

                <a href="{{url_for('homePage')}}"><img src="../images/healthy-recipes-logo.png" alt="Healty Recipes Logo"></a>

                <nav>
                    <ul>
                    <!-- iterate through all courses -->
                    {%for i in all_courses%}
                        <li><a href="{{url_for('courseRecipes', course_id=i.id)}}">{{i.name}}</a></li>
                    {% endfor %}
                    </ul>
                </nav>

            </header>
            <!-- End Header -->

            <!-- Start Main -->
            <main>

                <!-- Display the course name -->
                <h1>{{course.name}}</h1>

                <!-- Display all recipes in the course -->
                {% for i in courseRecipes %}
                
                <section>
                    <a href="{{url_for('viewRecipe',course_id=i.course_id, recipe_id=i.id)}}"><img src="{{i.image}}" alt="{{i.name}}"></a>
                    <p>{{i.name}}</p>
                </section>
                
                {% endfor %}

                <a href="{{url_for('newRecipe', course_id=course.id)}}">Add New Recipe</a>

            </main>
            <!-- End Main -->
        </div> 

	</body>

</html>