<!DOCTYPE html>

<html>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Healthy Recipes - Delete {{deleteRecipe.name}}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	</head>
	
    <body>
        <div class="container">

            <!-- Start Header -->
            <header>

                <a href="{{url_for('homePage')}}"><img src="{{url_for('static', filename='healthy-recipes-logo.png')}}" alt="Healty Recipes Logo"></a>

                <nav>
                    <ul>
                    <!-- iterate through all courses -->
                    {%for i in all_courses%}
                        <li><a href="{{url_for('courseRecipes', course_id=i.id)}}">{{i.name}}</a></li>
                    {% endfor %}
                    </ul>

                    <p id="userName">{{login_session['username']}}</p>
                    <img id="userPic" src="{{login_session['picture']}}">
                    
                </nav>
        
            </header>
            <!-- End Header -->

            <!-- Start Main -->
            <main>

                <!-- Display Recipe Name -->
                <h2>Are you sure you want to delete {{deleteRecipe.name}}</h2>

                <form action="{{url_for('deleteRecipe', course_id=recipeCourse.id, recipe_id=deleteRecipe.id)}}" method="POST">
                
                    <input type="submit" value="Delete Recipe">
        
                    <a href="{{url_for('viewRecipe', course_id=recipeCourse.id, recipe_id=deleteRecipe.id)}}">Cancel</a>
            
                </form>
                
            </main>
            <!-- End Main -->

        </div>
    </body>

</html>