<!DOCTYPE html>

<html>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Healthy Recipes</title>
	</head>
	
	<body>

        <div class="container">

            <header>

                <img alt="Healty Recipes Logo">

                <nav>
                    <ul>
                    {%for i in courses%}
                        <li><a href="{{url_for('courseRecipes', course_id=i.id)}}">{{i.name}}</a></li>
                    {% endfor %}
                    </ul>
                </nav>

            </header>

            <main>

                <h1>Latest Added Recipes</h1>

                {% for i in latestRecipes %}
                
                <section>
                    <a href="#"><img src="{{i.image}}" alt="{{i.name}}"></a>
                    <p>{{i.name}}</p>
                </section>

                {% endfor %}

            </main>

        </div> 

	</body>

</html>