<!DOCTYPE html>

<html>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Healthy Recipes</title>
	</head>
	
	<body>

        <div class="container">
            <header>

                <a href="{{url_for('homePage')}}"><img src="" alt="Healty Recipes Logo"></a>

                <nav>
                    <ul>
                    {%for i in courses%}
                        <li><a href="{{url_for('courseRecipes', course_id=i.id)}}">{{i.name}}</a></li>
                    {% endfor %}
                    </ul>
                </nav>

            </header>

            <main>
                <h1>{{recipe.name}}</h1>
                <img src="{{recipe.image}}">
                <section>
                    <h3>Ingredients:</h3>
                    <ul>
                        {% for i in ingredients %}
                        <li>{{i.ingredient}}</li>
                        {% endfor %}
                    </ul>
                </section>

                <section>
                    <h3>Directions:</h3>
                    <ul>
                        {% for i in directions %}
                        <li>{{i.step}}</li>
                        {% endfor %}
                    </ul>
                </section>

            </main>
        </div> 

	</body>

</html>