<!DOCTYPE html>

<html>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Healthy Recipes</title>
	</head>
	
	<body>

        <div class="container">
            <header>

                <a href="{{url_for('homePage')}}"><img src="../images/healthy-recipes-logo.png" alt="Healty Recipes Logo"></a>

                <nav>
                    <ul>
                    {%for i in all_courses%}
                        <li><a href="{{url_for('courseRecipes', course_id=i.id)}}">{{i.name}}</a></li>
                    {% endfor %}
                    </ul>
                </nav>

            </header>

            <main>
                <h1>{{viewRecipe.name}}</h1>
                <img src="{{viewRecipe.image}}">
                <section>
                    <h2>Ingredients:</h2>
                    <ul>
                        {% for i in ingredients %}
                        <li>{{i.ingredient}}</li>
                        {% endfor %}
                    </ul>
                </section>

                <section>
                    <h2>Directions:</h2>
                    <ul>
                        {% for i in directions %}
                        <li>{{i.step}}</li>
                        {% endfor %}
                    </ul>
                </section>
                
                <a href="{{url_for('editRecipe', course_id=recipeCourse.id, recipe_id=viewRecipe.id)}}">Edit Recipe</a>

                <a href="{{url_for('deleteRecipe', course_id=recipeCourse.id, recipe_id=viewRecipe.id)}}">Delete Recipe</a>
                
                <a href="{{url_for('courseRecipes', course_id=recipeCourse.id)}}">Back to {{recipeCourse.name}}</a>

            </main>
        </div> 

	</body>

</html>